.bg { 
    /* The image used */
    /*background-image: url("");*/
  
    /* Full height */
    height: 100%; 

    background-color: #FFFFFF;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}